.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.sidebarChat:hover{
    background-color: white;
}

.sidebarChat__info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px;
}